extends layout

block content
    div.jumbotron
        div.container
            h1= title
                span.pull-right.glyphicon.glyphicon-lock
            h2 Attempts Remaining: #{attemptsLeft}
    div.container
        div.panel(class=pwError ? 'panel-danger' : 'panel-primary')
            div.panel-heading
                h2.panel-title #{domain} Password
            div.panel-body
                form(action='/login/#{userId}/#{domain}', method='post')
                    block confirm
                    div.row
                        div.col-xs-8
                            if pwError
                                p.form-control-static: strong.text-danger= pwError
                        div.col-xs-4
                            button.pull-right.btn.btn-primary(type='submit') Login